.navbar{
    font-family: 'Jost', sans-serif;
    align-items: center;
    background: rgb(0, 0, 0);
    display: flex;
    padding: 0 20px;
    margin-bottom: -20px;
    color: white;
    height: 15vh;
}

.logo>a>img{
    height: auto;
    width: 5vw;
}

.menu{
    display: flex;
    width: 55%;
    margin-left: 0%;
    justify-content: space-between;
    flex:1;
}

.menu_option{
    display: flex;
}

.menu_option>a{
    height: 100%;
    vertical-align: center;
}

.menu_option .icon{
    display: none;
}

.menu a{
    font-weight: 400;
    font-size: 20px;
    text-decoration:none;
    padding: 10px 15px 10px 15px;
}

.menu u{
    text-decoration: none;
    border-bottom: 3px solid #ff7a00;
}

.menu a>div:hover{
    color: #ff7a00;
}

.footer{
    background-image: url(images/footer.jpg);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: auto;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
}

.hidden{
    display: none;
}

.burger{
    display: none;
}

.bar{
    display: flex;
    padding: 0%;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
    height: 100%;
    flex-direction: column;
    width: 6.5%;
}

.bar>div{
    height: 1%;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .download_container{
        display: none;
    }
    .burger{
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .menu{
        z-index: 100;
        position: relative;
        height: 100%;
        display: block;
        overflow: hidden;
    }
    .menu_option{
        flex-direction: column;
        background: black;
    }
    #burger:checked ~ .menu{
        overflow: visible;
    }
    .logo>a>img{
        width: 6.5vw;
    }
}